    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <h2 class="title text-center">Documentation & Links</h2>
            <div class="row">  
                 <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Internationalization</h3>
                        <p class="text-justify">Some ALA modules have been translated in several languages using the Crowdin platform. Translation has been made in Spanish, Catalan, Basque, French and Portuguese. You can access the project through the <a href="https://crowdin.com/project/ala-i18n" target="_blank">ALA Crowdin project</a></p>
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> ALA Key Technical Document</h3>
                        <p class="text-justify">This document is a contribution from the Encounter Bay (ALA node portal internationalization) project, co-funded by the French, Spanish, Portuguese and Belgian GBIF Nodes and GBIF Secretariat through its Capacity Enhancement Support Programme.</p>
                        <p> It is intended to capture the essence of the technical documentation about ALA components necessary for evaluators/adopters to discover, assess, understand, install, configure, customize and operate the tools. </p>
                        <P> Version: <a href="https://www.gbif.org/document/82847/ala-key-technical-documentation-english" target="_blank">English</a>, <a href="https://www.gbif.org/document/82848/ala-key-technical-documentation-french" target="_blank">French</a>, <a href="https://www.gbif.org/document/82850/ala-key-technical-documentation-portugese" target="_blank">Portugese</a>, <a href="https://www.gbif.org/document/82849/ala-key-technical-documentation-spanish" target="_blank">Spanish</a>.</p> 
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-file-powerpoint-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> Presentations</h3>
                        For each event, we try as much as possible to give access to all materials made by the members about the community or ALA's platform (talks, posters, videos): <a href="{{ site.url }}/event">more information</a></p>
                    </div><!--//content-->
                </div><!--//item-->             
            </div><!--//row-->  
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Registry component</h3>
                        <p class="text-justify">Metadata</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Biocache-store</h3>
                        <p class="text-justify">Indexation</p>
                    </div><!--//content-->
                </div><!--//item-->   
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Biocache-Hub</h3>
                        <p class="text-justify">search engine module</p>
                    </div><!--//content-->
                </div><!--//item-->           
            </div>
            <div class="row"> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Spatial portal</h3>
                        <p class="text-justify">Spatial portal</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-list"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">BIE</h3>
                        <p class="text-justify">Species search</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">ALA4R</h3>
                        <p class="text-justify">ALA4R</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->                      
        </div><!--//container-->
    </section><!--//Docs-->
