    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            
            <h2 class="title text-center">Participants</h2>  
            <div class="docs-inner">          
                <div class="block">
                    <h3 class="sub-title text-center">National data portal in production</h3>
                    <p>Add table with all participants</p>
                </div> 
            </div>      
        </div><!--//container-->
        <div class="container">
            
            <h2 class="title text-center"></h2>  
            <div class="docs-inner">          
            <div class="block">
                <h3 class="sub-title text-center">The community in action</h3>
                <p>Add a carrousel</p>
            </div>       
        </div><!--//container-->
    </section><!--//docs->
