    <!-- ******EVENT****** --> 
    <section id="event" class="participants section">
        <div class="container">  
            <h2 class="title text-center"></h2>  
            <div class="participants-inner">          
                <div class="block">
                    <h3 class="sub-title text-center">Future events</h3>
                    
                </div> <!-- // block-->
            </div> <!-- // participants-inner-->     
        </div><!--//container-->
        <div class="container">  
            <h2 class="title text-center"></h2>  
            <div class="participants-inner">          
                <div class="block">
                    <h3 class="sub-title text-center">Past events</h3>
                    
                </div> <!-- // block-->
            </div> <!-- // participants-inner-->     
        </div><!--//container-->
    </section><!--//participants->
