    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container">
            <h2 class="title text-center">Documentation & Links</h2>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Past and future events</h3>
                        <p>The agenda of the community can be found on the <a href="https://www.gbif.org/programme/82953/living-atlases#events" target="_blank">Living Atlases page</a> on the new <a href="https://www.gbif.org">GBIF.org</a> website.  </p>
                    </div><!--//content-->
                </div><!--//item-->    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">HipChat Room</h3>
                        <p>Developers from the entire community can discuss through an <a href="https://www.hipchat.com/gx1ej3K6Q" target="_blank">HipChat Room</a> hosted by Atlas of Living Australia. If you have any issue or any question related to the installation, development or maintenance of ALA modules, here is the place to go! </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">ALA Mailing List</h3>
                        <p>Suscribe to the <a href="https://lists.gbif.org/mailman/listinfo/ala-portal" traget="_blank">ALA-Portal mailing list</a> where you will be able to ask any technical or non technical question.</p>
                    </div><!--//content-->
                </div><!--//item-->        
            </div>
            <div class="row">  
                 <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Internationalization</h3>
                        <p>Some ALA modules have been translated in several languages using Crowdin platform. Translation has been made in Spanish, Catalan, Basque, French and Portuguese. You can access to the project through the <a href="https://crowdin.com/project/ala-i18n" target="_blank">ALA Crowdin project</a></p>
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> ALA Key Technical Document</h3>
                        <p>This document is a contribution to the Encounter Bay (ALA node portal internationalization) project, co-funded by the French, Spanish, Portuguese and Belgian GBIF Nodes and GBIF Secretariat through its Capacity Enhancement Support Programme.</p>
                        <p> It is intended to capture the essence of the technical documentation about ALA components necessary for evaluators/adopters to discover, assess, understand, install, configure, customize and operate the tools. </p>
                        <P> Version: <a href="https://www.gbif.org/document/82847/ala-key-technical-documentation-english" target="_blank">English</a>, <a href="https://www.gbif.org/document/82848/ala-key-technical-documentation-french" target="_blank">French</a>, <a href="https://www.gbif.org/document/82850/ala-key-technical-documentation-portugese" target="_blank">Portugese</a>, <a href="https://www.gbif.org/document/82849/ala-key-technical-documentation-spanish" target="_blank">Spanish</a>.</p> 
                    </div><!--//content-->
                </div><!--//item--> 
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-file-powerpoint-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title"> Presentations</h3>
                        <p>The community made presentations during international or national conferences or workshop. We can find all documents on the <a href="https://github.com/AtlasOfLivingAustralia/documentation/wiki/Presentations-ALA-project" target="_blank">Atlas of Living Australia GitHub</a> account.</p>
                    </div><!--//content-->
                </div><!--//item-->             
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//features-->
