    <!-- ******MODULES****** --> 
    <section id="intro" class="modules section">
        <div class="container">
            <h2 class="title text-center">Introduction</h2>
            <p class="intro text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate ante a dapibus maximus. Aenean vel porttitor leo. Vivamus at fermentum lacus. Pellentesque luctus pellentesque mauris in tincidunt. Fusce ornare odio vel eleifend accumsan. Proin porttitor id metus vel scelerisque. In justo nibh, placerat sed ullamcorper eget, tempor ut ipsum. Cras mattis dolor et nulla aliquet ornare non ac urna. Phasellus consequat semper odio, sed dignissim orci volutpat sed. Cras sed auctor ipsum. Curabitur et sapien vehicula, mattis ligula sit amet, condimentum odio. Pellentesque tempus felis ac risus malesuada interdum. Ut dapibus felis et enim lobortis, in ornare metus mattis.</p>

            <p class="intro text-justify"> Mauris fermentum sed velit non blandit. Sed ac justo non purus fringilla volutpat. Nulla massa augue, auctor eu felis et, finibus facilisis nunc. Mauris vitae eros quis est dignissim commodo. Etiam et tempor ante. Phasellus malesuada interdum magna, ut tempor sapien commodo a. Pellentesque aliquet diam sed dolor sodales semper. In scelerisque egestas lobortis. Sed tempus nibh diam, condimentum tincidunt nisl cursus quis. Fusce posuere tortor sed erat tempor commodo at sed velit. Nam a tellus nec libero porta mollis. Pellentesque fermentum ultrices mi, eget facilisis dui consectetur id.  </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Past and future events</h3>
                        <p class="text-justify"> <a href="{{ site.url }}/event">LINK</a> <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consectetur sodales neque, in dignissim diam pulvinar at. Donec venenatis pulvinar erat, a volutpat tellus efficitur. </p>
                    </div><!--//content-->
                </div><!--//item -->  
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">HipChat Room</h3>
                        <p class="text-justify">Developers from the entire community can discuss through an <a href="https://www.hipchat.com/gx1ej3K6Q" target="_blank">HipChat Room</a> hosted by Atlas of Living Australia. If you have any issue or any question related to the installation, development or maintenance of ALA modules, here is the place to go! </p>
                    </div><!--//content-->
                </div><!--//item-->
                 <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">ALA Mailing List</h3>
                        <p class="text-justify">Suscribe to the <a href="https://lists.gbif.org/mailman/listinfo/ala-portal" traget="_blank">ALA-Portal mailing list</a> where you will be able to ask any technical or non technical questions.</p>
                    </div><!--//content-->
                </div><!--//item-->        
            </div>          
        </div><!--//container-->
    </section><!--//modules-->
